* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('Images/work6.jpg');
    background-size: cover;
    background-position: center;
    z-index: 9999;
  }
  
  .container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80%;
    padding: 30px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.979);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    
    /* top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    */
  }
  
  
  h1 {
    margin-bottom: 10px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    padding: 10px;
    border-radius: 20px;
  }
  
  .form-control {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .form-control label {
    display: block;
    margin-bottom: 5px;
    font-size: small;
    font-weight: bold;
  }
  
  .form-control input {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.86);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .btn {
    padding: 15px 20px;
    width: 100%;
    border-radius: 25px;
    border: none;
    outline: none;
    background-color: #131313;
    color: #fff;
    cursor: pointer;
  }

  .btns {
    padding: 15px 20px;
    width: 100%;
    border-radius: 25px;
    border: 2px solid #000;
    outline: none;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  
  .btn:hover {
    background-color: #4d4e4d;
  }

  /* Button animation */
.btn:active {
    transform: translateY(2px);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  